package.json
package-lock.json
dist
.angulardoc.json
.vscode/*
.idea/*
.scannerwork/*
node_modules/*
scripts/*
angular.json
protractor.conf.js

ng-package.json
ng-package.prod.json

tsconfig.lib.json
tsconfig.spec.json
tsconfig.json
tslint.json
