<div class="d-flex align-items-center justify-content-between">
  <button type="button" class="btn btn-secondary" (click)="uploadFile()">Choose file</button>
  <div class="d-flex">
    <div>
      <select [(ngModel)]="settings.accept">
        <option value="">Extensão</option>
        <option value=".png,.jpg,.gif">.png, .jpg, .gif</option>
        <option value=".pdf,.doc,.docx">.pdf, .doc, .docx</option>
        <option value=".mp3,.mp4,.avi">.mp3, .mp4, .avi</option>
      </select>
    </div>
    <div class="ml-2">
      <input type="checkbox" id="multiple" [(ngModel)]="settings.multiple" />
      <label class="ml-1" for="multiple">Multiple</label>
    </div>
  </div>
</div>

<div class="mt-4">
  <table class="table" *ngIf="files.length">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th class="text-center" scope="col">Remove</th>
    </thead>
    <tbody>
      <tr *ngFor="let file of files; let i = index">
        <td>{{ file.name }}</td>
        <td>{{ file.size }}</td>
        <td class="text-center remove-file">
          <span (click)="files.splice(i, 1)" class="mdi mdi-delete"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-center" *ngIf="!files.length">No files</h5>
</div>
