<div class="card mt-3">
  <div class="card-header">
    <a
      class="text-dark"
      href="https://www.npmjs.com/package/@ngx-lcp/speech-recognition"
      target="_blank"
      ><strong>@ngx-lcp/speech-recognition</strong></a
    >
  </div>
  <div class="card-body">
    <div class="d-flex flex-column">
      <div class="mt-3">
        <app-speech-recognition></app-speech-recognition>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <a class="text-dark" href="https://www.npmjs.com/package/@ngx-lcp/upload-file" target="_blank"
      ><strong>@ngx-lcp/upload-file</strong></a
    >
  </div>
  <div class="card-body">
    <div class="d-flex flex-column">
      <div class="mt-3">
        <app-upload-file></app-upload-file>
      </div>
    </div>
  </div>
</div>
