<div class="speech-recognition">
  <textarea
    class="form-control"
    rows="2"
    disabled
    [value]="speechRecognition?.interimTranscript || speechRecognition?.finalTranscript"
    [placeholder]="startedSpeechRecognition ? 'Speak now' : 'Press the microphone to speak'"
  ></textarea>
  <div
    class="microphone"
    [class]="{ listening: startedSpeechRecognition }"
    (click)="startedSpeechRecognition ? stop() : start()"
  >
    <span class="mdi mdi-microphone"></span>
  </div>
</div>
